@model IEnumerable<StudentsMeetTutors.Models.TutorRecord>

@{
    ViewData["Title"] = "SelectTutor";
    Layout = "_SelectTutors";
}
<
<div class="col-md-12" style="display: flex; justify-content: center">
    <section class="col-md-8 text-center ">
        @if (Model.Count() == 0)
        {
            <h4>
                No available tutors based on your learning preference or the course selected... Please check back again.
            </h4>
        }
        @if (Model.Count() > 0)
        {
            <table class="table justify-content-center">
                <thead style="background-color: black">
                    <tr style="color:white">
                        <th>
                            Username
                        </th>
                        <th>
                            Matric Number
                        </th>
                        <th>
                            FirstName
                        </th>
                        <th>
                            LastName
                        </th>
                        <th>
                            Course
                        </th>
                        <th>
                            Teaching Style
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="color:white">
                            <td>
                                @item.Username
                            </td>
                            <td>
                                @item.MatricNumber
                            </td>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.LastName
                            </td>
                            <td>
                                @item.Course
                            </td>
                            <td>
                                @item.TeachingStyle
                            </td>
                            <td>
                                <a class="btn-success btn-block" asp-controller="Students" asp-action="Index" asp-route-id="@item.ID">Select Tutor</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>
                No available tutors based on your learning preference or the course selected... Please check back again.
            </h4>
        }
    </section>
</div>


